.title-container {
    display: flex;
    height: 100vh;           /*Full viewport height */
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertical */
    flex-direction: column;
    position: absolute;
    z-index: 2;
  }

.header-container {
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  background: pink;
}

.sticker-container {
  display: flex;
  justify-content: flex-start; /* Horizontal */
  align-items: center;     /* Vertical */
  height: 100vh;           /*Full viewport height */
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.Stat-container {
    display: flex;
    height: 100vh;
    justify-content: center; /* Horizontal */
    align-items: center;     /* Vertical */
    /* height: 100vh;           Full viewport height */
    flex-direction: column;
  }

h1 {
  font-size: 100px;
  line-height: 1;
  margin-bottom: 10px;

}

h2 {
  font-size: 80px;
  line-height: 1;
  border-radius: 5px;
  margin-bottom: 24px;
}

h3 {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;
}

p1 {
  color: grey;
  padding: 10px 10px;

  &:hover {
    /* text-decoration: underline; */
    background: var(--accent-bg);
    border-radius: 5px;

  }
}

p2 {
  color: grey;
  padding: 10px 10px;
  }


/*individual style*/

.word1 {
  color: red;
  background: lightpink;
  padding: 0px;
  /* text-shadow: 5px 0 #000, -5px 0 #000, 0 5px #000, 0 -5px #000,
    2px 3px #000, -3px -2px #000, 2px -3px #000, -3px 2px #000; */
  /* -webkit-text-stroke: 5px #000; */
  
}